/* styles.css */
body {
    background-color: aqua; 
    color: midnightblue; 
    font-size: 21px;
}

title {
color: red; 
}

h1 {
    font-size: 50px;
    color: darkmagenta;
}



.ingredients-section {
    color: darkcyan;
}
#alfredo-header {
    color: darkslategray;
}

.steps-section.li {
    font-size: large;
    font-variant: small-caps;
}

ul li {
    font-variant: small-caps;
    color: firebrick;
}